*{
    margin: 0;
}

body{
    background-color: rgb(202, 202, 202);
}
h1{
    background-color:#46abdd;
    color: rgba(0, 0, 0, 0.76);
    width: 20%;
    text-align: right;
    padding-left: 12px;
    
}
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
  }
  
  /*Header font size and idsplayes for navbar list items*/
  .header h1 {
    display: inline-block;
    font-size: 48px;
    
  }
  
 
  /*Navlist and object dimensions and font */
  .header nav {
    padding-top: 14px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    
  }
  
  /*Eliminates ul bullet points */
  .header nav ul {
    list-style-type: none;
    background-color: #2a607c;
  }
  
  .header nav ul li {
    display: inline-block;
    margin-left: 25px;
    background-color: #2a607c;
  }

  a {
      color:#46abdd;
      font-size: 24px;
      border-bottom: 4px solid currentColor;
      text-decoration: none;
  }

  


  .aboutme,.work,.contact,.resume{
      font-size: 64px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: #2a607c;
      font-weight: 600;
      background-color:rgb(202, 202, 202);
      border-right: 4px solid currentColor;
      text-align: left;
      width: 50%;
      
      

  }

  p{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 18px;
   margin-left: 18%;

  }

  .workimg{
    height: 250px;
    width: 250px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    border: solid 8px #46abdd;
    margin-top: 4px;
  }

  .contactlistings{
      list-style-type: none;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: rgba(0, 0, 0, 0.76);
      text-align: center;
      margin-top: 18px;
      
      
      
  }

  .contactlistings li{
      display: inline-block;
      border-bottom: 4px solid #46abdd;
      margin: 4px;
     
     
      
  }

