body{
  background-color: rgb(196, 192, 192);
  --starryblue :rgba(58, 94, 212, 0.671);
  --textblack:rgba(0, 0, 0, 0.774);
}


header h1{
  background-color: var(--starryblue);
  text-align: center;
  font-size: 56px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--textblack);
}

nav{
  background-color: var(--textblack);
  text-align: center;
  
  
}

nav ul li{
  display: inline-block;
  padding: 20px;
  font-size: 28px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

nav ul li a{
  text-decoration: none;
  color: var(--starryblue);
  border-bottom: solid 4px var(--starryblue);
}
.jumbotron{
  position: relative;
  margin: 0 auto;

}
.hero{
  width: 100%;
  height:256px;
  margin: 0 auto;
  


}

.subtitle h1{
 position: absolute;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 background-color: var(--starryblue);
 bottom: 0;
 left:50%;
 transform: translate(-50%,-10%);
 text-align: center;

 
}

 .headings{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 32px;
  margin-top: 32px;
  margin-left: 8px;
  color: rgba(43, 78, 145, 0.678);
  border-bottom: solid 4px cornflowerblue;
  width: 90%;
}
 p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  width:90%;
  margin-left: 8px;
  color: rgba(43, 78, 145, 0.678);
  margin-bottom: 1em;
 }

 .workfig{
   width: 250px;
   margin: 0 auto;
   position: relative;
   
 }
 

 #playimg{
  height: 175px;
  width: 250px;
  margin-top: 12px;
  border: solid 4px cornflowerblue; 
  z-index: 1;
  margin: 0 auto;
  position: relative;
  
}



 .workimg{
   height: 175px;
   width: 300px;
   margin-top: 12px;
   border: solid 4px cornflowerblue; 
   z-index: 1;
   
 }

 .workdesc{
   position: absolute;
   background-color:cornflowerblue;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding: 4px;
   font-size: 24px;
   font-weight: bold;
   bottom: 0;
   left: 0;
   z-index: 2;
   margin-bottom: 12px;
 }
  

   .wordsub{
     font-size: 12px;
     text-align: left;
      
   }


 .contactlistings li{
   margin-top: 16px;
   margin-bottom: 24px;
 }  
.contactlistings a{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-bottom: solid 4px cornflowerblue;
  margin-left: 8px;
  
  
}


@media screen and (min-width:586px) {
  nav ul li{
    padding: 10px;
  }
  header h1 {
    font-size:72px
  }
  .hero{
    height: 108px;
  }
  .subtitle h1{
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--starryblue);
    bottom: 0;
    text-align: center;
    transform: translate(-10%,-10%);
  }
    .headings{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 48px;
      margin-top: 32px;
      margin-left: 8px;
      color: rgba(43, 78, 145, 0.678);
      border-bottom: solid 4px cornflowerblue;
      width: 90%;
    }
    
     .workfig{
      width: 250px;
      position: relative;
      display: inline-block;
      
     }

   .contactlistings li{
      margin-top: 16px;
      margin-bottom: 24px;
      display: inline-block;
    }  

   .workrow1 {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
   

   }
    #playimg{
    height: 450px;
    width: 650px;
    margin-top: 24px;
    border: solid 4px cornflowerblue;; 
    z-index: 1;
    }

    .workrow2,.workrow3{
      justify-content: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin:0 auto;
      width:75%
      
      
      
    }
    

    
  }

}