body{
  background-color: rgb(196, 192, 192);
  --starryblue :rgba(58, 94, 212, 0.671);
  --textblack:rgba(0, 0, 0, 0.774);
}


header h1{
  background-color: var(--starryblue);
  text-align: center;
  font-size: 56px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--textblack);
}

nav{
  background-color: var(--textblack);
  text-align: center;
  
  
}

nav ul li{
  display: inline-block;
  padding: 20px;
  font-size: 28px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

nav ul li a{
  text-decoration: none;
  color: var(--starryblue);
  border-bottom: solid 4px var(--starryblue);
}